:root {
    --background-color: #ffffff;
    --color: #757575;  
    --color-1: #2196F3;
    --color-2: #F5F4FA;;
    --background-color-1: #2F303A;
    --color-3: #212121;
}
body {
    font-family: 'Roboto', sens-serif;
}

.list {
    list-style: none;
}


.logotip {
font-family: 'Raleway';
font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
color: var(--color-1);
}
.logo {
    color: #000000;
}
.logo2 {
    color: var(--background-color);
}

.site-nav {
    list-style: none; 
}
.studio { 
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14; 
    color: var(--color-3);   
}

.studio:hover, .studio:focus {
    color: var(--color-1);
}
.mail, .tel {
color: var(--color); 
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
}

.mail:hover,.mail:focus {
    color: var(--color-1);    
}

.tel:hover, .tel:focus {
    color: var(--color-1);   
}
.link {
list-style: none;
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--color-3);
}
.link:hover, .link:focus{
    color: var(--color-1);  
}

.button1 {
    cursor: pointer;
    font-weight: 700;
font-size: 16px;
line-height: 1.87;
background-color: rgb(33, 150, 243);
color: var(--color-2);
}

.button1:hover, .button1:focus{
    color: var(--color-2);
    background: var(--color-1);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
    }

.button {
    font-weight: 500;
font-size: 16px;
line-height: 1.62;
color: var(--color-3);
background: var(--color-2);
border-radius: 4px;
}

.button:hover, .button:focus{
    color: var(--color-2);
background-color: var(--color-1);
}
.hero {
    text-align: center;
    background: var(--background-color-1);
}
.title {
    font-weight: 900;
font-size: 44px;
line-height: 1.36;
letter-spacing: 0.06em;
text-transform: uppercase;
color: var(--color-2);
}
.text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em; 
    color: var(--color);
}
.foote {
    background: var(--background-color-1);  
}
.adress {
    list-style: none;
    font-style: normal;
    color: var(--color-2);
}
.adress:hover, .address:focus {
    color: var(--color-1);  
}

.mail2, .tel2 {
    color: rgba(255, 255, 255, 0.6);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    }
    
    .mail2:hover,.mail2:focus {
        color: rgb(24, 140, 232);    
    }
    .tel2:hover,.tel2:focus {
        color: var(--color-1);    
    }
    
.section-title {
    font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--color-3);
}
.section-about {
    font-weight: 700;
font-size: 36px;
line-height: 1.16;
text-align: center;
letter-spacing: 0.03em;
color: var(--color-3);
}
.name {
    font-weight: 500;
font-size: 16px;
line-height: 1.18;
letter-spacing: 0.03em;
color: var(--color-3);
}
